<div class="mt-5 text-center">
    <h1 _ngcontent-gsv-c18="">POSTS</h1>
</div>

<div class="row posts">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 p-3" *ngFor="let post of userPostsToShow">
        <div class="posts__card px-3 py-4">
            <div class="p-2 m-auto posts__icon d-flex align-items-center justify-content-center">
                <i class="fa fa-user"></i>
            </div>

            <div>
                <span>
                    <strong>POST TITLE: </strong>
                    {{post.title}}
                </span>
            </div>

            <div>
                <span>
                    <strong>POST BODY: </strong>
                    {{post.body}}
                </span>
            </div>

            <div>
                <span>
                    <strong>POST AUTHOR: </strong>
                    <i>{{postAuthor}}</i>
                </span>
            </div>
        </div>
    </div>
</div>